/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; 
}

:root {
    --gradient: linear-gradient(90deg, rgba(132,110,79,1) 0%, rgba(132,110,79,1) 33%, rgba(132,110,79,0) 66%, rgba(132,110,79,0) 100%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #E6DCCE;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    width: 650px;
    height: 550px;
    background-color: #FFFFF0;
    border-radius: 25px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* form */

main>h1 {
    color: #846E4F;
}

.formDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
}

form>label {
    font-size: 22px;
    font-weight: bold;
    color: #846E4F;
    padding-bottom: 10px;
}

form>input {
    margin-bottom: 20px;
    font-size: 22px;
    color: #846E4F;
    width: 425px;
    height: 35px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #846E4F;
    outline: none;
}

form>input:focus {
    font-size: 24px;
    border-bottom: 5px solid #846E4F;
    transition: 100ms linear;
}

.emailaddress.true {
    border-bottom: 5px solid limegreen;
}

.emailaddress.false {
    border-bottom: 5px solid red;
}

form>textarea {
    margin-bottom: 20px;
    font-size: 22px;
    color: #846E4F;
    width: 425px;
    height: 140px;
    background-color: transparent;
    border: 3px solid #846E4F;
    outline: none;
    resize: none;
}

form>textarea:focus {
    font-size: 24px;
    border: 4px solid #846E4F;
    transition: 100ms linear;
}

.buttonSection {
    display: flex;
    align-items: center;
    width: 100%;
}

form>.buttonSection>button, form>.buttonSection>a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: #846E4F;
    background: transparent;
    background-image: var(--gradient);
    background-size: 600%;
    background-position: right;
    border: 4px solid #846E4F;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold;
    transition: 200ms linear;
    text-decoration: none;
}

form>.buttonSection>button:hover, form>.buttonSection>a:hover {
    background-position: left;
    color: #FFFFFF;
    font-size: 24px;
}

